<div class="container">
    <div class="row" *ngIf="!loading && quotes.length > 0">
      <div class="col-lg-6" *ngFor="let quote of quotes">
        <div class="card card-body quote-card my-3">
          <div class="card-title">
            <div class="row no-gutters">
              <div class="col-11 col-lg-11 m-0 p-0">
                <p class="quote-text">
                  <strong
                    ><span class="quotation text-danger">"</span>{{ quote.text
                    }}<span class="quotation text-danger">"</span></strong
                  >
                </p>
              </div>
              <div
                class="col-1 m-0 p-0"
                *ngIf="user && user.uid === quote.author.id"
              >
                <button class="btn delete-quote" (click)="delete(quote)">
                  <i class="fa fa-trash text-right text-danger"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-footer mt-2 pl-2">
            <small
              >Quoted by:
              <strong>{{ quote.author.username | titlecase }}</strong></small
            ><br />
            <small>Date: {{ quote.createdDate | date: "short" }}</small>
          </div>
          <div class="card-text pl-2">
            <div class="row mt-2">
              <div class="col-4 col-sm-3 col-lg-3">
                <button
                  [disabled]="quote.author.id === user?.uid"
                  class="btn vote-btn btn-sm btn-outline-info"
                  (click)="
                    user &&
                      user.uid !== quote.author.id &&
                      upvote(quote, user.uid)
                  "
                >
                  <span class="fa fa-arrow-up vote upvote"></span>
                </button>
                <span class="votes-count"> &nbsp;{{ quote.likes?.length }} </span>
              </div>
              <div class="col-4 col-sm-3 col-lg-3">
                <button
                  [disabled]="quote.author.id === user?.uid"
                  class="btn vote-btn btn-sm btn-outline-danger"
                  (click)="
                    user &&
                      user.uid !== quote.author.id &&
                      downvote(quote, user.uid)
                  "
                >
                  <span class="fa fa-arrow-down vote downvote"></span></button
                ><span class="votes-count"
                  >&nbsp;{{ quote.dislikes?.length }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="loading">
      <div class="col-lg-6 mx-auto">
        <h2 class="text-center mt-5">Loading quotes...</h2>
      </div>
    </div>
  </div>
  